---
layout: base.ejs
---

<div am-ImageHeader>
  <h1><%= title %></h1>
</div>

<div class="row mb2">
  <div class="columns medium-5 hide-for-small-only">
    <img src="<%= image %>" alt="<%= imageAlt %>" />
  </div>
  <div class="columns medium-7">
    <% if (header) { %>
    <h3><%= header %></h3>
    <% } %>

    <img am-ProfilePic src="<%= image %>" alt="<%= imageAlt %>" />

    <%- text %>
  </div>
</div>
