<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if (titleOverride && titleOverride !== "_IGNORE") { %> <%=
      titleOverride %> <% } else { %> <%= `${title} - ${meta.title}` %> <% } %>
    </title>

    <meta name="description" content="<%= meta.description %>" />
    <meta
      property="og:image"
      content="https://roboticsworkshops.co.uk/<%= meta.shareImage %>"
    />

    <link rel="stylesheet" href="/assets/app.css" />
    <script src="//use.edgefonts.net/comfortaa.js"></script>

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤖</text></svg>"
    />
  </head>
  <body>
    <header am-SiteHeader>
      <a href="/"><img src="/assets/img/logo.svg" am-SiteHeader-Logo /></a>

      <nav am-SiteHeader-Nav>
        <ul>
          <li class="<%= page.url === '/workshops/' ? 'selected' : '' %>">
            <a href="/workshops">The Workshops</a>
          </li>
          <li class="<%= page.url === '/about/' ? 'selected' : '' %>">
            <a href="/about">About David</a>
          </li>
          <li class="<%= page.url === '/contact/' ? 'selected' : '' %>">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <%- content %>
    <%- include('event', {event: meta.event}) %>
    <%- include('testimonials', {meta: meta}) %>

    <footer am-SiteFooter>
      <div am-SiteFooter-Inner>
        <h4><%= meta.footerHeader %></h4>
        <p>
          Contact David on <%= globalData.contact.phoneNumber %> or
          <a href="mailto:<%= globalData.contact.emailAddress %>"
            ><%= globalData.contact.emailAddress %></a
          >.
        </p>
      </div>
    </footer>

    <script src="/assets/js/app.js"></script>
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-76834000-1", "auto");
      ga("send", "pageview");
    </script>
    <script
      src="https://www.google-analytics.com/analytics.js"
      async
      defer
    ></script>
  </body>
</html>
