---
layout: base.ejs
---

<div am-BigIntro>
  <img am-BigIntro-Title src="/assets/img/logo_wide.svg" />
  <img am-BigIntro-Hero src="<%= heroImage %>" />

  <div am-BigIntro-Text>
    <% if (header) { %>
    <h3><%= header %></h3>
    <% } %>
    <%- introText %>
    <a href="<%= buttonUrl %>" class="button large"><%= buttonText %></a>
  </div>
</div>
